<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", static_page_path('about') %></li>
			<li><%= link_to "Contact", static_page_path('about') %></li>
			<li><a href="http://news.railstutorial.org/">News</a></li>
      <li><a href="http://railstutorial.org/">Rails Tutorial</a></li>
		</ul>
	</nav>
</footer>